.footer {
    background: linear-gradient(to right, #d2e9df, #e6f3ef);
    padding: 50px 0;
    width: 100vw;
    position: relative;
    left: 0;
    text-align: center;
}


.footer h3 {
    border-bottom: none !important;
    text-decoration: none !important;
    padding-bottom: 0;
    color: #062813;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    /* Removed padding to allow full width */
}

.footer-logo-social {
    width: 20%;
}

.footer-logo img {
    width: 120px;
    height: auto;
}

.footer-socials {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.footer-socials a {
    text-decoration: none;
    color: #007B55;
    font-size: 1.2rem;
}

.footer-section {
    width: 25%;
    padding: 0 15px;
}

.footer-section h3 {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.footer-section h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background: #007B55;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    transition: all 0.3s ease;
    padding: 5px 0;
}

.footer-section ul li:hover {
    transform: translateX(10px);
    color: #007B55;
}