.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    width: 270px;
    background-color: #8eb8a1ab;
    color: #0a2219;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
}

.sidebar:hover,
.sidebar:focus-within {
    left: 0;
}


.sidebar-title {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 15px 0;
}

.sidebar-menu a {
    color: #165e34;
    /* Dark green text */
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    border-radius: 4px;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-menu a:hover,
.sidebar-menu a.active {
    background-color: #e6f4ea;
    /* Light green hover */
    color: #165e34;
    /* Dark green text */
}