/* Đảm bảo trang luôn full màn hình */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  /* Set a white background color for the entire page */
}

/* Container chính để giữ bố cục */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  /* Tránh cuộn ngang */
}

/* Nội dung mở rộng full màn hình */
.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  /* White background for the content section */
}

/* Footer */
.footer {
  background: linear-gradient(to right, #5d9773, #7bc0a1);
  /* Gradient background */
  color: white;
  padding: 20px 0;
  /* Add padding to the top and bottom */
  text-align: center;
  /* Center the text horizontally */
  width: 100%;
  display: flex;
  justify-content: center;
  /* Center content horizontally */
  align-items: center;
  /* Center content vertically */
  flex-direction: column;
  /* Stack content vertically */
}

/* Footer extra content */
.footer-extra {
  display: flex;
  justify-content: center;
  /* Center items horizontally within footer-extra */
  align-items: center;
  /* Center items vertically */
  flex-direction: column;
  /* Stack the content vertically */
  padding: 10px;
}

/* Styles for the certification and brand motto */
.certification,
.brand-motto {
  font-size: 14px;
}

/* Style for the Bo Cong Thuong logo */
.bo-cong-thuong {
  width: 40px;
}